---
import { ARK_ANGELS_DISCORD, FAWKES_DISCORD, SITE_NAME } from "../../consts";
import SocialList from "./_SocialList.astro";

const CURRENT_YEAR = new Date().getFullYear();
---

<footer class="shop-footer">
	<div class="shop-container wa-grid wa-size-s">
		<div class="wa-stack wa-gap-s">
			<p class="wa-caption-s">&copy; {CURRENT_YEAR} {SITE_NAME}. All rights reserved.</p>
			<p class="wa-caption-s">{SITE_NAME} is not affiliated with Fawkes/Trion/Gamigo et al. All game content is property of their respective owners.</p>
		</div>

		<div class="wa-stack wa-gap-s">
			<h2 class="wa-heading-s">Get in Touch</h2>
			<SocialList />

			<p class="wa-caption-s">If you can't DM me on Discord, make sure you are in either the <a href={FAWKES_DISCORD} target="_blank">official Fawkes server</a> or the <a href={ARK_ANGELS_DISCORD} target="_blank">Ark Angels Auction House server</a>.</small></p>
		</div>
	</div>
</footer>

<style scoped>
	.shop-footer {
		position: sticky;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 0;
		margin-block-start: auto;
		padding-block: var(--wa-space-xl) var(--wa-space-3xl);
		background-color: var(--wa-color-surface-lowered);
		background-image: var(--shop-noise-image);
		background-size: var(--shop-noise-size);
		color: var(--wa-color-text-quiet);
		text-wrap: balance;

		> * {
			position: relative;
			z-index: 1;
		}
	}
</style>
