---
import { Font } from "astro:assets";
import faviconPng from "@/assets/images/favicon.png";
import faviconSvg from "@/assets/images/favicon.svg";
import openGraphImage from "@/assets/images/opengraph.png";
import {
	SITE_AUTHOR,
	SITE_DESCRIPTION,
	SITE_NAME,
	SITE_TAGLINE,
} from "@/consts";

import "@/assets/css/theme.css";
import "@/assets/css/root.css";

export interface Props {
	title?: string;
	description?: string;
}

const { title, description = SITE_DESCRIPTION } = Astro.props;
---

<html lang="en-GB">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />

		<title>{title ? `${title} | ${SITE_NAME}` : `${SITE_NAME} | ${SITE_TAGLINE}`}</title>
		<meta name="description" content={description} />
		<meta name="author" content={SITE_AUTHOR} />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href={faviconSvg.src} />
		<link rel="icon" type="image/png" href={faviconPng.src} />
		<meta property="og:site_name" content={SITE_NAME} />
		<meta property="og:title" content={title ?? SITE_NAME} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={openGraphImage.src} />
		<meta property="og:locale" content="en_GB" />

		<Font cssVariable="--font-castithan" />
		<Font cssVariable="--font-exo" />
		<Font cssVariable="--font-irathient" />
		<Font cssVariable="--font-montserrat" />
		<link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.12/dist/styles/themes/default.css" />
		<link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.12/dist/styles/webawesome.css" />
		<link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.12/dist/styles/brand/cyan.css" />
		<script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.12/dist/webawesome.loader.js"></script>

		<script>
			// Check/apply dark mode.
			const systemSchemeDark = window.matchMedia('(prefers-color-scheme: dark)');

			globalThis.changeColorScheme = function(event = systemSchemeDark) {
				const colorScheme = localStorage.getItem('color_scheme') ?? 'auto';

				const isDark = colorScheme === 'auto' ? event.matches : colorScheme === 'dark';
				document.documentElement.classList.toggle('wa-dark', isDark);
			}

			systemSchemeDark.addEventListener('change', globalThis.changeColorScheme);
			globalThis.changeColorScheme();
		</script>
	</head>

	<body>
		<slot />
	</body>
</html>
